Bracketed comments

Hello!

I [tried out your definition of Sieve on GitHub Lightshow](https://github-lightshow.herokuapp.com/?utf8=%E2%9C%93&scope=from-url&grammar_format=xml&grammar_url=https%3A%2F%2Fraw.githubusercontent.com%2Firae%2FSieve-sublime-package%2Fmaster%2FSieve.tmLanguage&grammar_text=&code_source=from-url&code_url=https%3A%2F%2Fraw.githubusercontent.com%2Fgithub%2Flinguist%2F148334e88192ffdd8807270612800b4c5e090316%2Fsamples%2FSieve%2Fdovecot-vacation.sieve). It seems that bracketed comments (i.e., such that start with `/*` and end with `*/`) are not handled correctly:

![Screenshot from 2020-04-24 11-32-41](https://user-images.githubusercontent.com/542154/80197741-5b2ceb00-861f-11ea-94c4-edd5de3e6cd2.png)
As you can see, the bracketed comment starts on line 7, but its end is not correctly detected.

These comments are specified in [Section 2.3 of RFC 5228](https://tools.ietf.org/html/rfc5228#section-2.3).

I have no experience writing TM language files, so could you please take a look? Thanks.